<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/app.css">


<div class="login-form">
    <form action="/employer/login" method="post">
        <h2 class="text-center">Sign in</h2>		
        <!-- <div class="text-center social-btn">
            <a href="/user/otplogin" class="btn btn-info btn-block"><i class="fa fa-phone"></i> Sign in with <b>OTP</b></a>
            <a href="/user/facebooklogin" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
			<a href="/user/googlelogin" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
        </div>
        <div class="or-seperator"><i>or</i></div>
        -->
        <% if(error.length > 0) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        
        <% } %>
        <div class="form-group">
        	<div class="input-group">                
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>                    
                </div>
                <input type="text" class="form-control" name="email" placeholder="email">
            </div>
        </div>
		<div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>                    
                </div>
                <input type="password" class="form-control" name="password" placeholder="Password" >
            </div>
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Sign in</button>
        </div>
        
    </form>
    <div class="hint-text">Don't have an account? <a href="/employer/register" class="text-success">Register Now!</a></div>
</div>


<%- include('../partials/footer.ejs') %>